@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');
*{
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
}
                
/* HEADER CSS */

.header-container {
    background-image: url('./assets/hatom token header 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
   
                                                
}
.header-container-up {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 2rem;
}
.hatom-logo {
    color: #fff;
    margin: 1rem;
}
.header-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-links ul li {
    margin: 1rem;
}
.header-links ul li a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}
.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1;
    margin: 1rem;
}
.btns .btn-elrond {
    display: inline;
    align-items: center;
    width: 7rem;
    margin: 1rem;
    background: linear-gradient(to right, #469071, #000);
    color: #fff;
    cursor: pointer;
}
.btns .btn-app {
    cursor: pointer;
    width: 7rem;
    border: #469071 1px solid;
    color: #fff;
    margin: 1rem;
    background-color: #01211D;
}

.header-container-down {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    font-size: larger;
    font-weight: bolder;
}
.header-container-down h1 {
    font-size: 7rem;
    font-weight: 900;
    text-shadow: 6px 0 2px #469071;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.header-container-down p {
    color: #469071;
    margin-top: 1rem;
}

/* FEATURES CSS */

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}
.features-container-up {
    height: 20vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-token-btn::before {
    position: absolute;
    top: 1033px;
    left: 0px;
    content: "";
    width: 20px;
    height: 42px;
    background: rgba(255, 255, 255, 0.2);
    transform: skew(-60deg);
    /* transition: 1s; */
    animation: shine 2.5s ease infinite;
}
@keyframes shine {
    from {left: 980px;}
    to {left: 1400px;}
}
.buy-token-btn button{
    width: 12rem;
    height: 2.5rem;
    border-radius: 10px;
    border: 0;
    color: #fff;
    background: linear-gradient(to right, #01211d, #469071 );
}
.features-container-down {
    display: flex;
    flex-direction: column;
    width: 70vw;
}
.features-container-down-paragraphs {
    display: flex;
    justify-content: space-between;
}
.earn-vote {
    width: 20rem;
}
.supply-borrow {
    width: 20rem;
}




















